@font-face {
    font-family: 'montserratlight';
    src: url('../../assets/montserrat/montserrat-light-webfont.woff2') format('woff2'),
         url('../../assets/montserrat/montserrat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratregular';
    src: url('../../assets/montserrat/montserrat-regular-webfont.woff2') format('woff2'),
         url('../../assets/montserrat/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratsemibold';
    src: url('../../assets/montserrat/montserrat-semibold-webfont.woff2') format('woff2'),
         url('../../assets/montserrat/montserrat-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

ion-content {
    --background: var(--ion-background-color,linear-gradient(#a6f9ff, #2c62ff));
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    padding: 20px;
}

.app-title {
    font-size: 14px;
    margin-top: 20px; 
}

ion-item {
    --background: transparent;
    --border-radius: 50px;
    //--border-color: black;
    --border-width: 1px;
}
// ion-item:first-child {
//     border-top-left-radius: 5px;
//     border-top-right-radius: 5px;
//     color: red;
// }
// ion-item:last-child {
//     border-bottom-left-radius: 5px;
//     border-bottom-right-radius: 5px;
//     margin: auto;
// }
ion-item.item {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50px;
    .label {
      width: 10%;
      color: rgba(0, 0, 0, 0.6);
      font-size: 1.2em;
    }
}

ion-button{
    --color: white;
    // font-family: 'Montserrat';
}

.logo{
    margin-bottom: 20px;
}


h1 {
    font-size: 3em;
    margin: 0 10px 20px 10px;
    //font-family: 'Montserrat';
    color: #001e6b
}

// .sign-up{
//     position: fixed; left: 50%; bottom: 5px; transform: translate(-50%, -50%); margin: 0 auto;
// }