<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-grid>
    <ion-row class="container padding" text-center>
      <ion-col class="logo" center>
        <img src="../../assets/puzzle3.png" alt="Logo" id="logo"  style="width: auto; height:120px">
      </ion-col>
      <ion-col class="app-title">
        <h1>AUTISM CARE</h1>
      </ion-col>
      <ion-col>
        <ion-item lines="none">
          <ion-label><ion-icon name="person" slot="start"></ion-icon></ion-label>
          <ion-input type="email" placeholder="Email"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item lines="none">
          <ion-label><ion-icon name="lock" item-left></ion-icon></ion-label>
          <ion-input type="password" placeholder="Password"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col class="login">
        <ion-button routerLink="/parent" fill="clear">Login as <br/>Parent</ion-button>
        <ion-button routerLink="/patient" fill="clear">Login as <br/>Patient</ion-button>
      </ion-col>

      <ion-col class="sign-up">
        <ion-button routerLink="" fill="clear" >Don't have an account? <br/>Sign up</ion-button>
      </ion-col>
    </ion-row>
  

  </ion-grid>



</ion-content>
