.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f6f4f9;
    .newConvoBox {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 69vw;
      height: 100%;
      justify-content: space-evenly;
      .bot-intro-circle {
        background-color: #13A1BC;
        border-radius: 50%;
        width: 200px;
      }
      .bot-intro-img {
        padding: 20px;
        object-fit: contain;
      }
      .bot-intro-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
          text-align: center;
          color: #8a898b;
        }
      }
    }

    .chat-box {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      position: relative;//#8eddda
      background: #a0dfee;
      ion-content {
        --background: transparent;
      }
      .message-area {
        max-height: calc(100% - 65px);
        height: 90%;
        padding: 15px 10px;

        .message-area-inner {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          min-height: 100%;
        }
        
        ion-item {
            --background: transparent;
        }
        .message {
          display: flex;
          flex-direction: row;
          .bubble {
            color: #8a898b;
            font-size: 13px;
            font-weight: bold;
            margin: 0px;
            max-width: 85%;
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
            padding: 10px 15px 10px 7px;
            margin: 5px 0;
            background: #f6f4f9;
            p {
              margin-top: 0;
            }
          }
          ion-avatar {
            align-self: flex-end;
            margin-right: 10px;
          }
        }
        .message.incoming {
          .bubble {
            color: #f6f4f9;
            border-radius: 15px 15px 15px 0px;
            background:  #03acce;
          }
        }
        .message.outgoing {
          display: flex;
          //flex-direction: column;
          padding-left: 10px;
          justify-content: flex-end;
          align-items: flex-end;
          .bubble {
            margin-left: auto;
            border-radius: 15px 15px 0 15px;
          }
        }
      }
      .emo-area {
        position: absolute;
        bottom: 50px;
        left: 0;
        width: 100%;
        padding: 3px 10px;
      }
    }
    .input-area {
        position: absolute;
        bottom: 1px;
        left: 0;
        width: 100%;
        height: 50px;
        border: 2px solid #13A1BC;
        border-radius: 25px;
        background: #f6f4f9;
        margin: 8px 0px;
        form {
          display: flex;
          height: 100%;

          ion-input {
            width: 82%;
            border: none;
            padding: 5px 10px;
            color: #8a898b;
            font-size: 14px;
            font-weight: bold;
            font-family: 'Titillium Web', sans-serif;
            background: inherit;
            &:focus {
              outline: none;
            }
          }
          .input {
            margin: 10px;
          }
          .send-icon {
            width: 30px;
            height: 30px;
            margin-right: 10px;
            margin-top: 7px;
            cursor: pointer;
            background: inherit;
            ion-icon {
              font-size: 1.3rem;
            }
          }
        }
    }
}