<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Autis Bot Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main">
    <div class="chat-box">
      <ion-content class="message-area">
        <ion-item class="message" *ngFor="let message of messages" [ngClass]="getClasses(message.type)" lines="none">
          <ion-avatar *ngIf="message.avatar">
            <ion-img class="avatar" [src]="message.avatar"></ion-img>
          </ion-avatar>
          <div class="bubble">
            <p>{{message.text}}</p>
            <ion-spinner name="lines-small" *ngIf="!message.timestamp"></ion-spinner>
            <span *ngIf="message.timestamp">{{message.timestamp}}</span>
          </div>
        </ion-item>
      </ion-content>
      <div class="emo-area">
        <!-- emoji-panel component comes here -->
      </div>
      <div class="input-area">
        <form name="messageForm" #messageForm="ngForm">
          <ion-input type="text" name="message" id="message" class="input" [(ngModel)]="message" placeholder="Say something nice..."></ion-input>
          <ion-fab-button class="send-icon" (click)="sendMessage()">
            <ion-icon name="md-send"></ion-icon>
          </ion-fab-button>
        </form>
      </div>
    </div>
  </div>
</ion-content>