<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Capture</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="takePicture()" color="secondary">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <p *ngIf="images.length === 0">
    Nothing here yet!
  </p>

  <ion-card *ngFor="let image of images">
    <ion-card-content>
      <b>{{ image.description | titlecase }}</b>
    </ion-card-content>
    <img [src]="image.image" class="card-image">
  </ion-card>
</ion-content>
