@font-face {
    font-family: 'montserratlight';
    src: url('../../assets/montserrat/montserrat-light-webfont.woff2') format('woff2'),
         url('../../assets/montserrat/montserrat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

ion-content{
    --background: var(--ion-background-color,linear-gradient(#ffffff, #b1d6ff));
}

h1 {
    font-size: 2em;
    margin: 0 10px 20px 10px;
    font-family: 'Montserrat';
    color: #467aff;
    text-align:center
}

#time{
    --background: #467aff;
    max-width: 35%;
    display: inline-block;
    margin: 5px;
    border: 1px solid #467aff;
    border-radius: 25px;
}

#activity{
    --background: #467aff;
    max-width: 55%;
    display: inline-block;
    margin: 5px;
    border: 1px solid #467aff;
    border-radius: 25px;
}

ion-input{
    --color: white;
    padding: 5px;
    padding-left: 0
}

input{
    position: absolute;
}

.button-inner{
    justify-content:flex-end;
}

button.button-native{
    padding-right: 3px
}

#submit{
    --background: transparent;
    --box-shadow: 0px;
    border: 1px solid #467aff;
    border-radius: 25px;
    padding: 10px;
    margin: 5px;
    color: #467aff;
    font-family: 'Montserrat'
}