<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div id="myMap"></div>
    <div class="info-container">
      <div class="column first">
        <ion-icon name="heart" color="danger"></ion-icon>
        <span class="heartrate">{{ heartRate }}</span>
      </div>

      <div class="column second">
        <img [src]="anxious ? 'assets/bad.png' : 'assets/good.png'">
        <span class="status">{{ anxious ? 'Anxious' : 'Good' }}</span>
      </div>
    </div>
  </div>
</ion-content>
